<div ui-sref="app.player.home({idEtin: etin.id})" class="list card">
    <div class="item item-avatar">
        <img src="http://files.yourphototravel.com/avatar_small/uploads/files/avatar_normal/301c58d05f68e0e579109661cc3d0c45/5463942ab5e20.jpg">
        <h2>OtrOmundo</h2>
        <p>Publié le 22 septembre 2014</p>
    </div>
    <div class="item item-image">
        <img src="http://photos01.yourphototravel.com//cover_normal/2e1ee90129db629ad59014a2ade8c845/5457f7f7d20ee.jpg">
    </div>
    <a class="item item-icon-left assertive">
        <i class="icon ion-chevron-right"></i>
        <h3>Brésil, Pérou, Bolivie, Chili, Argentine et Uruguay .... rien ne nous échappera</h3>
        <p>Et me voila parti.<br>Faire un tour, des détours, tout autours etc comme chante Aemoon. Sur un long parcours, qui me paraitra trop court a l'arrivee.<br>De la Kabylie, l'Asie du Sud Est et jusqu'en Polynesie, en passant par l'Indonzsie.<br>Suivez le guide, suivez votre intuition souvent bonne conseillere et toujours vers la lumiere, entrez dans le cercle vertueux!<br>Les 2 chapitres du debut sont les prémices du voyage, car on doit s'y preparer. Ensuite , il fallait classer differemment que par destinations, donc par themes. Alors le , l'inspiration..</p>
    </a>
</div>