<ion-view title="Planisphère">
<!--   <ion-content has-bouncing="true"> -->
<!--     <div class="row"> -->
<!--         <div class="col"> -->
<!-- 		    <p>world page, here we are!!</p> -->
<!-- 		    <button ui-sref="app.menu.list({codeCountry: 'fr'})" class="button button-block button-positive">Liste FR</button> -->
<!-- 		    <button ui-sref="app.menu.list({codeCountry: 'uk'})" class="button button-block button-positive">Liste UK</button> -->
<!-- 		    <button ui-sref="app.menu.list({codeCountry: 'ch'})" class="button button-block button-positive">Liste CH</button> -->
<!--         </div> -->
<!--     </div> -->
<!--   </ion-content> -->
<!-- 	<ion-nav-buttons side="right"> -->
<!--         <button ng-click="locateMe()" class="button button-icon icon ion-pinpoint"></button> -->
<!-- 	</ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-pinpoint" ng-click="locateMe()"></button>
    </ion-nav-buttons>

	<ion-content data-tap-disabled="true">
	    <leaflet ng-if="map" center="map.center" events="map.events" markers="map.markers" legend="map.legend" tiles="map.tiles" class="ypt-map"></leaflet>
	    
	    <div ng-show="selectedCountry" class="country f32">
	        <div class="flag" ng-class="countries[selectedCountry.id]['alpha-2']|lowercase"></div>
	        <span class="name">{{ countries[selectedCountry.id]['name'] }}</span>
	        <button ui-sref="app.menu.list({codeCountry: countries[selectedCountry.id]['alpha-2']})" class="button button-positive icon-right ion-arrow-right-b">8 Etins </button>
	    </div>
	</ion-content>
</ion-view>