<ion-view title="Accueil">
  <ion-content>
	<div class="row">
		<div class="col">
		    <p>home menu page, here we are!!</p>
		    <button ui-sref="app.menu.world" class="button button-block button-positive icon ion-earth"> Planisphère</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
            <button class="button button-block button-positive">Derniers etins consultés</button>
		</div>
		<div class="col">
            <button class="button button-block">Etins favoris</button>
		</div>
	</div>
	
	<div class="row">
		<div class="col"><img src="http://placehold.it/495x220"></div>
		<div class="col">Caption Top</div>
	</div>
	<div class="row row-center">
		<div class="col"><img src="http://placehold.it/495x220"></div>
		<div class="col">Caption Middle</div>
	</div>
	<div class="row row-bottom">
		<div class="col"><img src="http://placehold.it/495x220"></div>
		<div class="col">Caption Middle</div>
	</div>
	
	
  </ion-content>
</ion-view>